target
.idea

*.classpath
*.factorypath
*.prefs
*.project
examples/hello-world-jex/webview.dll
.DS_Store

examples/hello-world/webview.dll
examples/hello-world-jex/libwebview.so
.claude/settings.local.json

jauri-webview/src/main/java/io/avaje/webview/Main.java
